<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Joe Hardin's web application</title>
    <meta name="description" content="" />
    <link href="{% static "helloworld/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "helloworld/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">


        <header>
            <nav class="website-nav">
                <ul>
                    <li><a class="home-link" href="https://joehardin.com/">Home</a></li>
                    <li><a href="https://www.linkedin.com/in/joseph-hardin-59b08679/">LinkedIn</a></li>
                    <li><a href="https://github.com/JosephHardin">GitHub</a></li>
                    <li><a href="https://www.kaggle.com/joehardin369">Kaggle</a></li>
                    <li><a href="https://www.kaggle.com/joehardin369">Literature Explorer</a></li>
                </ul>

            </nav>



    </div>

    {% block mytest %}
    {% endblock %}

    <footer>
        <p class="footer-contents">Last updated August 21, 2023.</p>
    </footer>


</body>

</html>
