<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block PageTitle %}
<title>Register</title>
{% endblock %}

{% block heroArea %}

<div class="sign-up-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8">
            <div class="sign-up-2-box  justify-content-lg-end">
              <div class="heading text-center">
                <h2>Sign up</h2>

              </div>
              <form action="/new-user/", method="post">
               {% csrf_token %}
               {{ UserForm }}
                <div class="sign-in-log-btn">
                  <button class="btn focus-reset">Submit</button>

                </div>
                <div class="create-new-acc-text text-center">
                  <p>Already have an account? <a href="/login">Sign in</a></p>
                </div>
                <input type="submit" value="Save">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}



</html>