{% extends "template.njk" %}

{#
<!-- Page Info Input Here --> #}

{% set PAGE_INFO = {
page_title : "Service-Details",
page_wrapper_class : ""

} %}
{% import 'components/Header/_header.njk' as Header %}

{% block main %}
<!-- Site Header -->
{{Header.render({
"additional_header_class": "site-header--menu-right sign-in-menu-1",
"absolute_header" : "true",
container_fluid : false,
sticky_header :true,
menu_wrapper_class : "mx-auto",
hideMegamenu : false,
header_button : "true",
additional_button_classes : "sign-in-header-btn-1 ms-auto d-none d-xs-inline-flex",
header_button_class : "download-trail-btn btn focus-reset",
header_button_text : "Get Whiter"

})}}


<!-- Service Area -->


<div class="inner-service-banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-10 col-md-10">
                <div class="section-heading-14 text-center">
                    <h2>IT Consulting Service</h2>
                    <p>We offer an effective combination of broad customer service expertise and deep product knowledge
                        to ensure customer experience</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Area 1-->

<div class="service-details-1-content-1">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-9">
                <div class="image-area">
                    <img class="w-100" src="image/service/service-details-1.png" alt="">
                </div>
            </div>
            <div class="offset-xl-1 col-xl-4 col-lg-6 col-md-9">
                <div class="content">
                    <h2>Why choose us for IT consulting services?</h2>
                    <p>We can help you develop and execute a clear and strategic IT roadmap with priorities that are
                        closely linked to business goals. We will work one-on-one with your team to understand your
                        goals.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Process Area -->

<div class="service-details-process-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading text-center">
                    <h2>Our Working Process</h2>
                </div>
            </div>
        </div>
        <div class="row service-details-process-items text-center text-lg-start">
            <div class="col-lg-3 col-sm-6">
                <div class="number-box">
                    <span>1</span>
                </div>
                <div class="content-box">
                    <h6>Analysis</h6>
                    <p>Enterprise definition is - a project or undertaking that</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="number-box">
                    <span>2</span>
                </div>
                <div class="content-box">
                    <h6>Strategy</h6>
                    <p>Enterprise definition is - a project or undertaking that</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="number-box">
                    <span>3</span>
                </div>
                <div class="content-box">
                    <h6>Performance</h6>
                    <p>Enterprise definition is - a project or undertaking that</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="number-box">
                    <span>4</span>
                </div>
                <div class="content-box">
                    <h6>Improvements</h6>
                    <p>Enterprise definition is - a project or undertaking that</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Area 2-->

<div class="service-details-1-content-2">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-9 order-lg-1 order-1">
                <div class="content">
                    <div class="card-item d-sm-flex">
                        <div class="icon-box">
                            <img src="image/service/subway_tick.png" alt="">
                       </div>
                       <div class="content-box">
                           <h6>Listening Your Needs for IT Strategy</h6>
                           <p>You tell us where you want to improve, the goals you want to reach and the results you’re looking to achieve and we deliver quality IT services for your enterprise.</p>
                       </div>
                    </div>
                    <div class="card-item d-sm-flex">
                        <div class="icon-box">
                            <img src="image/service/subway_tick.png" alt="">
                       </div>
                       <div class="content-box">
                           <h6>Solutions Tailored to Your Needs</h6>
                           <p>You can propel your business forward: we deliver enterprise IT services through leadership, technology and solutions across business applications, data insights, cloud advancement and Cybersecurity.</p>
                       </div>
                    </div>
                </div>
            </div>
            <div class="offset-xxl-2 col-xxl-5 offset-xl-1 col-xl-5  col-lg-6 col-md-9 order-lg-1 order-0">
                <div class="image-area">
                    <img class="w-100" src="image/service/service-details-2.png" alt="">
                </div>
            </div>
        </div>
        <div class="row content-area-2 justify-content-center align-items-center">
            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-9">
                <div class="image-area">
                    <img class="w-100" src="image/service/service-details-3.png" alt="">
                </div>
               
            </div>
            <div class="offset-xxl-2 col-xxl-5 offset-xl-1 col-xl-5  col-lg-6 col-md-9">
                <div class="content">
                    <div class="card-item d-sm-flex">
                        <div class="icon-box">
                            <img src="image/service/subway_tick.png" alt="">
                       </div>
                       <div class="content-box">
                           <h6>Align Tactics with Objectives</h6>
                           <p>We develop a technology roadmap that is aligned with your objectives. As your IT partner, we consult with your enterprise to align our technology services with your business needs.</p>
                       </div>
                    </div>
                    <div class="card-item d-sm-flex">
                        <div class="icon-box">
                            <img src="image/service/subway_tick.png" alt="">
                       </div>
                       <div class="content-box">
                           <h6>Deliver Measurable Results</h6>
                           <p>We raise the bar on IT consulting service by always measuring, reporting and improving along the way. With our technology consulting service, your business can focus its operational efforts on its critical business goals.</p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA Area -->

<div class="service-details-1-cta-area">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10">
                <div class="content text-center text-lg-start">
                    <h2>Get IT Consulting Service</h2>
                    <p>Eliminate the pain points in your IT operations by<br class="d-none d-md-block">using our decade-long expertise.</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 col-lg-4">
                <div class="cta-req-btn text-center text-lg-end">
                    <a href="#" class="btn focus-reset">Request Free Consultation</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-border"></div>
            </div>
        </div>
    </div>
</div>


<!--Footer Area-->

<footer class="footer-sign-in-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-9">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 col-md-8">
                        <a href="#"><img src="./image/logos/logo-paste.png" alt="" class="footer-logo"></a>
                        <div class="content">
                            <p>Big, small, online, offline, local. Size doesn't matter. We work on diverse projects for
                                top brands as well as for cool startups. </p>
                        </div>

                        <div class="social-icons">
                            <ul class="pl-0 list-unstyled d-flex align-items-end ">
                                <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                            class="fab fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="footer-widget">
                            <p class="widget-title">Help menu</p>
                            <ul class="widget-links pl-0 list-unstyled">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Works</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6 pl-md-9 pl-6">
                        <div class="footer-widget">
                            <p class="widget-title ">Support</p>
                            <ul class="widget-links pl-0 list-unstyled">
                                <li><a href="#">contact </a></li>
                                <li><a href="#">Help & Support</a></li>
                                <li><a href="#">Privacy and Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="footer-widget">
                            <p class="widget-title ">Products</p>
                            <ul class="widget-links pl-0 list-unstyled">
                                <li><a href="#">Shades Pro</a></li>
                                <li><a href="#">Essentiol Blocks</a></li>
                                <li><a href="#">Avasta Dash</a></li>
                                <li><a href="#">vApp Landing Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


{% endblock %}