{% extends "template.njk" %}

{#
<!-- Page Info Input Here --> #}

{% set PAGE_INFO = {
page_title : "Sign In 02",
page_wrapper_class : ""

} %}
{% import 'components/Header/_header.njk' as Header %}

{% block main %}
<!-- Site Header -->
{{Header.render({
  "additional_header_class": "site-header--menu-right sign-in-menu-1",
  "absolute_header" : "true",
  container_fluid : false,
  sticky_header :true,
  menu_wrapper_class : "mx-auto",
  hideMegamenu : false,
header_button : "true",
additional_button_classes : "sign-in-header-btn-1 ms-auto d-none d-xs-inline-flex",
header_button_class : "download-trail-btn btn focus-reset",
header_button_text : "Get Whiter"

})}}


<!-- Sign In Area -->

<div class="sign-in-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="sign-in-2-box  justify-content-lg-end">
          <div class="heading text-center">
            <h2>Sign In</h2>
            <p>Enter your account details below</p>
          </div>
        
          <form action="#">
           
            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control" placeholder="Email address or username">
            </div>
            <div class="form-group">
              <input type="text" name="password" id="password" class="form-control" placeholder="Password">
            </div>
           
            <div class="keep-sign-area">
              <div class="check-form d-inline-block">
                <label for="terms-check" class="check-input-control d-flex align-items-center mb-0">
                  <input class="d-none" type="checkbox" id="terms-check">
                  <span class="checkbox checkbox-2 rounded-check-box "></span>
                  <span class="remember-text">Keep me signed in</span>
                </label>
              </div>
            
            </div>
            <div class="sign-in-log-btn">
              <button class="btn focus-reset">Submit</button>
            </div>
            <div class="create-new-acc-text text-center">
              <p>Don't have an account? <a href="sign-in-1.html">Create for free</a></p>
            </div>
          </form>
          <div class="reset-now-text text-center">
            <p>Forgot password? <a href="#">Reset Now!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<!--Footer Area-->

<footer class="footer-sign-in-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-9">
              <div class="row">
                  <div class="col-xl-9 col-lg-10 col-md-8">
                      <a href="#"><img src="./image/logos/logo-paste.png" alt="" class="footer-logo"></a>
                      <div class="content">
                          <p>Big, small, online, offline, local. Size doesn't matter. We work on diverse projects for
                              top brands as well as for cool startups. </p>
                      </div>

                      <div class="social-icons">
                          <ul class="pl-0 list-unstyled d-flex align-items-end ">
                              <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                  class="fab fa-twitter"></i></a></li>
                              <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                          class="fab fa-facebook-f"></i></a></li>
                              <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                          class="fab fa-google"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-7 col-md-12">
              <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                      <div class="footer-widget">
                          <p class="widget-title">Help menu</p>
                          <ul class="widget-links pl-0 list-unstyled">
                              <li><a href="#">About</a></li>
                              <li><a href="#">Features</a></li>
                              <li><a href="#">Works</a></li>
                              <li><a href="#">Career</a></li>
                          </ul>

                      </div>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6 pl-md-9 pl-6">
                      <div class="footer-widget">
                          <p class="widget-title ">Support</p>
                          <ul class="widget-links pl-0 list-unstyled">
                              <li><a href="#">contact </a></li>
                              <li><a href="#">Help & Support</a></li>
                              <li><a href="#">Privacy and Policy</a></li>
                              <li><a href="#">Terms & Conditions</a></li>
                          </ul>

                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                      <div class="footer-widget">
                          <p class="widget-title ">Products</p>
                          <ul class="widget-links pl-0 list-unstyled">
                              <li><a href="#">Shades Pro</a></li>
                              <li><a href="#">Essentiol Blocks</a></li>
                              <li><a href="#">Avasta Dash</a></li>
                              <li><a href="#">vApp Landing Page</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>


{% endblock %}