{% extends "template.njk" %}

{#
<!-- Page Info Input Here --> #}

{% set PAGE_INFO = {
page_title : "Testimonial-02",
page_wrapper_class : ""

} %}
{% import 'components/Header/_header.njk' as Header %}

{% block main %}
<!-- Site Header -->
{{Header.render({
  "additional_header_class": "site-header--menu-right sign-in-menu-1",
  "absolute_header" : "true",
  container_fluid : false,
  sticky_header :true,
  menu_wrapper_class : "mx-auto",
  hideMegamenu : false,
header_button : "true",
additional_button_classes : "sign-in-header-btn-1 ms-auto d-none d-xs-inline-flex",
header_button_class : "download-trail-btn btn focus-reset",
header_button_text : "Get Whiter"

})}}


<!-- Testimonial Area -->


<div class="inner-testimonial-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-6 col-xl-7 col-lg-9 col-md-11">
        <div class="section-heading-14 text-center">
          <h2>Customer Reviews</h2>
          <p>We are an industry-leading company that values honesty, integrity, and efficiency. Building quality products and caring.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="inner-testimonial-main-area">
  <div class="container">
    <div class="row inner-testimonial-card-1-items justify-content-center">
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-1.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-2.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-3.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-1.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-1.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-1.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-1.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-1.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="inner-testimonial-card-1">
          <div class="content">
              <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.” </p>
          </div>
          <div class="user-identity d-xs-flex text-center text-xs-start align-items-center">
              <div class="user-image">
                  <img src="image/landing-2/user-1.png" alt="image">
              </div>
              <div class="user-details">
                  <h4>Wade Warren</h4>
                  <span>Ui Designer, Adobe</span>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>










<!--Footer Area-->

<footer class="footer-sign-in-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-9">
              <div class="row">
                  <div class="col-xl-9 col-lg-10 col-md-8">
                      <a href="#"><img src="./image/logos/logo-paste.png" alt="" class="footer-logo"></a>
                      <div class="content">
                          <p>Big, small, online, offline, local. Size doesn't matter. We work on diverse projects for
                              top brands as well as for cool startups. </p>
                      </div>

                      <div class="social-icons">
                          <ul class="pl-0 list-unstyled d-flex align-items-end ">
                              <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                  class="fab fa-twitter"></i></a></li>
                              <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                          class="fab fa-facebook-f"></i></a></li>
                              <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                          class="fab fa-google"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-7 col-md-12">
              <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                      <div class="footer-widget">
                          <p class="widget-title">Help menu</p>
                          <ul class="widget-links pl-0 list-unstyled">
                              <li><a href="#">About</a></li>
                              <li><a href="#">Features</a></li>
                              <li><a href="#">Works</a></li>
                              <li><a href="#">Career</a></li>
                          </ul>

                      </div>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6 pl-md-9 pl-6">
                      <div class="footer-widget">
                          <p class="widget-title ">Support</p>
                          <ul class="widget-links pl-0 list-unstyled">
                              <li><a href="#">contact </a></li>
                              <li><a href="#">Help & Support</a></li>
                              <li><a href="#">Privacy and Policy</a></li>
                              <li><a href="#">Terms & Conditions</a></li>
                          </ul>

                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                      <div class="footer-widget">
                          <p class="widget-title ">Products</p>
                          <ul class="widget-links pl-0 list-unstyled">
                              <li><a href="#">Shades Pro</a></li>
                              <li><a href="#">Essentiol Blocks</a></li>
                              <li><a href="#">Avasta Dash</a></li>
                              <li><a href="#">vApp Landing Page</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>


{% endblock %}